<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eXplore!</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
    <div id="title">
        <h1>eXplore!</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Earth_Western_Hemisphere_transparent_background.png" >
    </div>
    
    <div class="form">
        <h2>Input a city</h2>
        <form method="post" action="/result">
          <input type="text" name="user_input_city" placeholder="i.e. new york"><br>
          <br>
          <input type="submit" value="Submit">
        </form>
    </div>
    </div>
    
    <style>
      html,
      body {
        margin-top: 2%;
        background: #84DAFE;
      }
      
      h1 {
        font-size: 300%;
      }
      
      #title, .form {
        margin: auto;
        text-align: center;
      }
      
      img {
        width: 200px;
        height: 200px;
      }
    </style>
    
  </body>
</html>
