<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eXplore!</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    
   <link href="https://fonts.googleapis.com/css?family=B612+Mono|Jura|Mallanna|Megrim|Open+Sans+Condensed:300|Poiret+One|Fredericka+the+Great|Share+Tech+Mono" rel="stylesheet">

    
  </head>
  <body>
    
    <div class="container-fluid">
      
    <div id="title">
        <h1>eXplore!</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Earth_Western_Hemisphere_transparent_background.png" >
    </div>
    
    <div class="form">
        <h2 class = "font">Input a city</h2>
        <form method="post" action="/result">
        <input type="text" class = "font size" name="user_input_city" placeholder="i.e. new york"><br>
        
        <h2 class = "font">Activities</h2>
        <input list="activities" class= "font size" name="user_activities" />
        <datalist id="activities">
          <option value="ACCESSIBLE SWIMMING">
          <option value="AMPHITHEATER">
          <option value="ANTIQUING">
          <option value="ARCHERY">
          <option value="AUTO TOURING">
          <option value="BACKPACKING">
          <option value="BADMINTON">
          <option value="BEACHCAMPING">
          <option value="BEACHCOMBING">
          <option value="BERRY PICKING">
          <option value="BIKING">
          <option value="BIRDING">
          <option value="BIRD WATCHING">
          <option value="BOATING">
          <option value="BOAT RENTAL">
          <option value="CAMPING">
          <option value="CANOEING">
          <option value="CAVING">
          <option value="CLAM DIGGING">
          <option value="CLIMBING">
          <option value="CRABBING">
          <option value="CRAWFISHING">
          <option value="CROSS COUNTRY SKIING">
          <option value="CULTURAL ACTIVITIES">
          <option value="DAY USE AREA">
          <option value="DISC GOLF">
          <option value="DIVING">
          <option value="COCUMENTARY SITE">
          <option value="DOWNHILL SKIING">
          <option value="EDUCATIONAL PROGRAMS">
          <option value="EMERGENCY SERVICES">
          <option value="ENVIRONMENTAL EDUCATION">
          <option value="EVENING PROGRAMS">
          <!--<option value="FIRE LOOKOUTS/CABINS OVERNIGHT">-->
          <option value="FISH HATCHERY">
          <option value="FISHING">
          <option value="FISH VIEWING SITE">
          <option value="GOLD PANNING">
          <option value="GOLF">
          <option value="GONDOLA RIDES">
          <option value="GUIDED INTERPRETIVE WALKS">
          <option value="HIKING">
          <option value="HIKING TRAIL">
          <option value="HISTORIC & CULTURAL SITE">
          <option value="HISTORIC SITES">
          <option value="HORSEBACK RIDING">
          <option value="HORSE CAMPING">
          <option value="HUNTING">
        </datalist> <br>

          <button type="submit" class="button font" value ="submit" style="vertical-align:middle"><span>Submit </span></button>
          <!--<input type="submit" value="Submit">-->
        </form>
    </div>
    
    <br><br>
    <div id= "content">
      <p>Our app uses APIs from Teleport and The Recreation Information Database (RIDB).
      </p>
      <p>Data source: <br><a href = "https://ridb.recreation.gov/">ridb.recreation.gov</a> | <a href = "https://developers.teleport.org/">developers.teleport.org/api/</a></p>
    </div>
      
  </div>
    
    <style>
      html,
      body {
        margin-top: 1%;
        background: #84DAFE;
      }
      
      h1 {
        font-size: 550%;
        font-family: 'Share Tech Mono', monospace;
        text-shadow: 3px 2px 4px #FFFFFF;
        /*font-family: 'Megrim', cursive;*/
        color: #374290;
        margin-bottom: 2%;
      }
      
      h2 {
        color: #374290;
      }
      
      .font {
        /*font-weight: bold;*/
        font-family: 'Jura', sans-serif;
      }
      
      #title, .form {
        margin: auto;
        text-align: center;
      }
      
      #content {
        text-align: center;
        color: black;
        font-family: 'Open Sans Condensed';
      }

    .button {
      display: inline-block;
      border-radius: 2px;
      background-color: #374290;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 8px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    
    @media (min-width:0px) {
        h1{
          font-size:390%;
        }
        h2{
          font-size:20px;
        }
        img {
          width: 150px;
          height: 150px;
        }
         #content{
          font-size: 14px;
        }
         .size {
        font-size: 15px;
        }
      input {
        width: 130px;
      }
      
      }
      
      @media (min-width:768px) {
        h1{
          font-size:550%;
        }
        h2{
          font-size:25px;
        }
        img {
          width: 200px;
          height: 200px;
        }
       #content{
          font-size: 17px;
        }
       .size {
        font-size: 16px;
        }
      input {
        width: 170px;
      }
      
      }
    </style>
    
  </body>
</html>
