<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div id="firstDiv" class="container-fluid">
      <h1>Welcome to New York</h1>
      <h2>Population: <%= @population %></h2>
    </div>
    <div id="secondDiv">
      <h1>Quality of Life Score/Information about the city</h1>
    </div>
    <div id="thirdDiv">
      <h1>Fun activities to do in the city</h1>
    </div>
    <div id="fourthDiv">
      <h1>Description of the city</h1>
    </div>
    <style>
      #firstDiv {
        display: table;
        height: 325px;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(<%= @user_city_img_url %>) no-repeat center center;
        background-size: cover;
      }
      #secondDiv{
        width:100%;
        height:200px;
        background-color: blue;
      }
      #thirdDiv{
        width:100%;
        height: 200px;
        background-color: black;
      }
      #fourthDiv{
        width:100%;
        height: 200px;
        background-color: red;
      }
      h1 {
        color: white;
        text-align: center;
        /*vertical-align: middle;*/
        line-height: 150px;
      }
      
    </style>
    
  </body>
</html>
