<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div id="firstDiv" class="container-fluid">
      <h1 id="firstDivh1">Welcome to New York</h1>
      <h2>Population: <%= @population %></h2>
    </div>
    <div id="secondDiv">
      <h3>Description</h3>
      <p>This is a paragraph of a description of the city. A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.A native robot believes. The vegetarian alien headlines your sold teenager. How does her disgust farm? Our wrong overlaps.</p>
    </div>
    <div id="thirdDiv">
      <h3>Quality of Life Scores</h3>
    </div>
    
    <div id="fourthDiv" class="container-fluid">
      <h1 id="fourthDivh1">Activities</h1>
    </div>
    
    <div id="fifthDiv">
      <p>for discription (i.e. camping, fishing in the city) / data will be taken through Recreation API</p>
    </div>
    <style>
      #firstDiv {
        display: table;
        height: 400px;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(<%= @user_city_img_url %>) no-repeat center center;
        background-size: cover;
      }
      #secondDiv{
        width:100%;
        min-height:200px;
        background: rgba(74,189,172,0.6);
        /*overflow: auto;*/
      }
      #thirdDiv{
        width:100%;
        height: 200px;
        background: rgba(252,74,26,0.6);
      }
      #fourthDiv {
        display: table;
        height: 150px;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(https://www.usu.edu/degrees/images/large/recreation_resource_management.jpg) no-repeat center;
        background-size: cover;
      }
      #fifthDiv{
        width:100%;
        height: 200px;
        background: rgba(247,183,51,0.6);
      }
      #firstDivh1 {
        color: white;
        text-align: center;
        /*vertical-align: middle;*/
        /*line-height: 200px;*/
        padding-top: 125px;
        /*font-size: 5vw;*/
        /*margin: auto;*/
        /*display: inline-block;*/
      }
      #fourthDivh1{
        color: white;
        text-align: center;
        padding-top: 30px;
      }
      h2 {
        color: white;
        text-align: center;
        /*font-size: 3vw;*/
        
      }
      h3 {
        margin-top: 0px;
        padding-top: 20px;
        text-align: center;
      }
      p {
        margin-bottom: 0px;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        padding: 0px 30px 20px 30px;
        color: black;
        /*text-align: center;*/
      }
      
      /*@media (max-width:480px) {*/
      /*  h1{*/
      /*    font-size:10px;*/
      /*  }*/
      /*  h2{*/
      /*    font-size:5px;*/
      /*  }*/
      /*}*/
      @media (max-width:768px) {
        h1{
          font-size:30px;
        }
        h2{
          font-size:25px;
        }
      }
      /*@media (max-width:992px) {*/
      /*  h1{*/
      /*    font-size:40px;*/
      /*  }*/
      /*  h2{*/
      /*    font-size:30px;*/
      /*  }*/
      /*}*/
    </style>
  </body>
</html>
